<% provide(:title, "About")%>
<div class="center">
  <h1>Sobre</h1>
  <h2>
    Rebeca Cipriano, nutricionista formada na UFSC.</br>
    Ela é a melhor cunhadinha. </br>
    Tem as manhas das dietas loucas e corre na beira-mar pra tentar acompanhar o Rod.
  </h2>

  <%= image_tag("rebspeq.png", alt: "Rails logo")%>

  <h1>
    <a href="https://www.instagram.com/rebecacipriano/">
    <i class="fa fa-instagram"></i> Instagram | rebecacipriano </a>
  </h1>
</div>