<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <% if current_user.admin? %>
        <span class="picture">
          <%= render 'shared/diet_form' %>
        </span>
      <% end %>
    </aside>
    <!--TODO: Show list of registered users and number of diets -->
    <aside class="cold-md-8">
      <div class="users">
        <h3>List of diets (pictures atm)</h3>
        <%= render 'diet/index' %>
      </div>
    </aside>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Rebeca Cipriano</h1>

  <h2>
    Nutricionista | CRN: Cunhada
  </h2>

  <h3> Agende sua consulta! </h3>

  <!--%= link_to "Crie sua conta!", signup_path, class: "btn btn-lg btn-primary" %-->

  </br></br>

  <section>
    <%= image_tag("rebsnutri.png", alt: "Rails logo")%>
  </section>
  
</div>
<% end %>