<div class="center jumbotron">
  <h1>Rebeca Cipriano</h1>

  <h2>
    Nutricionista | CRN: Cunhada
  </h2>

  <h3> Agende sua consulta! </h3>

  <!--%= link_to "Crie sua conta!", signup_path, class: "btn btn-lg btn-primary" %-->

  </br></br>

  <section>
    <%= image_tag("rebsnutri.png", alt: "Rails logo")%>
  </section>
  
</div>