<ul class="users">
  <%= Diet.all.each do |diet| %> <!--TODO: As in _diet_form, figure out why @diets is not working -->
    <li>
      <embed src=<%= diet.picture.url %> width="500" height="400" type='application/pdf'>
    </li>
  <% end %>
</ul>