<footer class="footer">
  <small>
    The Rebs Nutri app by <a href="https://www.linkedin.com/in/dornelasnelson/">Nelson Dornelas</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",     about_path %></li>
      <li><%= link_to "Contact",   contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
